*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #191919;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  line-height: 1.250em;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  margin-left: 3%;
  align-items: center;
}

.header-logo img {
  width: 30px;
}

#logo-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-left: 20px;
  color: #926b44;
}

.header-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  margin-right: 3%;
}

.header-link {
  text-decoration: none;
  font-size: 0.875em;
  color: #926b44;
}

.banner {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

.banner-text {
  margin-left: 10%;
  margin-right: 5%;
}

.banner-image img {
  width: 650px;
}

.banner-content {
  color: white;
}

.gold {
  color: #926b44;
}

.banner-paragraph {
  margin: 40px 0px;
  line-height: 2.5em;
}

.btn-order {
  border: none;
  color: white;
  background: transparent;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  outline: 0 !important;
  margin-left: 20px;
  box-shadow: inset 0 0 0 0;
  transition: .7s ease;
  cursor: pointer;
}

.btn-slide-left {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 200px;
  z-index: 1;
}

.btn-slide-left:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #926b44;
}

.btn-slide-left:hover:after,
.btn-slide-left:active:after {
  width: 100%;
}

.fas {
  padding: 15px 18px;
  background-color: #926b44;
  color: white;
  transition: .7s ease;
  cursor: pointer;
  font-size: 22px;
}

.large-text {
  position: absolute;
  color: #1D1D1D;
  width: 20px;
  font-size: 20em;
  top: 250px;
  left: 130px;
  font-family: 'Roboto Slab', serif;
  width: 50px;
  line-height: 0.8em;
  z-index: -1;
}

.banner-cta {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.fab {
  cursor: pointer;
  font-size: 24px;
  color: #926b44;
}

.cta-icons {
  display: flex;
  margin-left: 3%;
  width: 120px;
  justify-content: space-between;
}

.cta-download {
  margin-right: 3%;
  border: 2px #926b44 solid;
}

.btn-download {
  border: 0;
  color: white;
  background: transparent;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  cursor: pointer;
  outline: 0 !important;
  margin-right: 20px;
  padding-left: 20px;
  box-shadow: inset 0 0 0 0;
  transition: .7s ease;
}

.btn-slide-down {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 240px;
}

.btn-slide-down:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  background: #926b44;
}

.btn-slide-down:hover:after,
.btn-slide-down:active:after {
  height: 100%;
}